@import 'src/scss/global_variables.scss';
.layout {
  &__header {
    padding: 1rem;
  }
  &__sidebar {
    position: fixed;
    z-index: 100;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.15);
    transition: all ease-in 300ms;
  }
  &__main {
    margin-left: 250px;
    transition: all ease-in 300ms;
    @media screen and (max-width: $viewport-sm) {
      margin-left: 0;
    }
  }
  &__body {
    box-sizing: border-box;
    margin: 1rem 70px;
    transition: all ease-in 300ms;
    @media screen and (max-width: $viewport-sm) {
      margin-right: 1rem;
    }
  }
}

.location {
  box-sizing: border-box;
  padding: 1rem;
}
.sidebar {
  &__nav-top {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-bottom: 1px solid var(--color-divider);
    box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.15);
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    font-weight: 600;
  }
  &__main {
    display: flex;
    flex-direction: column;
  }
  &__link {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    padding: 1rem 1.3rem;

    &__text {
      padding: 0 1.2rem;
    }
  }
}
.button-hide {
  width: 50px;
}

.-hide .layout__sidebar {
  transform: translateX(-250px);
}
.-hide .layout__main {
  margin-left: 0;
}
.-hide.layout {
  grid-template-columns: 50px auto;
}
.-hide .sidebar__link {
  flex-direction: row;
  justify-content: flex-end;
}
.-hide .sidebar__link__text {
  opacity: 0;
}

.-active {
  color: var(--color-primary-text-light) !important;
  background-color: var(--color-secondary-lightest);
  animation: active 500ms ease-in-out;
}
@keyframes active {
  from {
    background-color: #fff;
  }
  to {
    background-color: var(--color-secondary-lightest);
  }
}
