@import 'src/scss/global_variables.scss';

.item {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 270px;
  height: 400px;
  padding: 20px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  z-index: 100;
  &:hover {
    z-index: 2;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.45);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);
    cursor: pointer;
  }
}
.type {
  text-transform: lowercase;
}
.label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 0.9rem;
}
.name {
  min-height: 60px;
  font-weight: 400;
  font-size: 1.2rem;
  font-style: normal;
  line-height: 2rem;
}
.img {
  width: 230px;
  height: 230px;
  object-fit: cover;
}
.price {
  &-current {
    display: inline-block;
    margin-right: 0.8rem;
    font-weight: 700;
    font-size: 1.8rem;
    font-style: normal;
    line-height: 2.2rem;
    white-space: nowrap;
  }
  &-old {
    display: inline-block;
    color: var(--color-primary-text-lighter);
    font-weight: 100;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 2rem;
    white-space: nowrap;
    text-decoration-line: line-through;
  }
}

@media screen and (max-width: $viewport-sm) {
  .item {
    max-width: 100%;
    display: flex;
    z-index: 2;
    border: 1px solid var(--color-divider);
    cursor: pointer;

    width: 100%;
    &:hover {
      transform: none;
    }
  }
  .img {
    margin: 0 auto;
  }
}

@media (max-width: $viewport-xxs) {
  .img {
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
}
