.brand,
.form {
  display: flex;

  box-sizing: border-box;
}

.brand {
  flex-direction: column;

  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 1rem 0;
  overflow: hidden;
  border-bottom: 1px solid var(--color-divider);
  animation: show linear 300ms;
}

.form {
  flex-direction: column;
  justify-content: end;
  animation: show-form linear 300ms;
}

.title {
  animation: show-form linear 300ms;
}

.input {
  margin: 0.25rem 0;
}

.buttons-block {
  display: flex;
  justify-content: flex-end;
}

@keyframes show {
  from {
    height: 0;
  }
  to {
    height: 151px;
  }
}

@keyframes show-form {
  from {
    transform: translateY(-100px);

    opacity: 0;
  }
  to {
    transform: translateY(0px);

    opacity: 1;
  }
}
