.banners {
  display: flex;
  flex-direction: column;
}
.form {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    'name .'
    'dateEnd .'
    'href  .'
    'images .'
    '. .'
    '. .'
    'buttons .';
  grid-template-columns: 300px 500px;
}
.name {
  grid-area: name;
}

.href {
  grid-area: href;
}
.dateEnd {
  grid-area: dateEnd;
}
.images {
  grid-area: images;
}
.slider {
  display: flex;
  grid-area: slider;
  justify-self: center;
}
.buttons-block {
  grid-area: buttons;
}
