@import 'src/scss/global_variables.scss';
.menu-block {
  display: flex;
  flex-direction: column;

  margin: 1rem;

  @media screen and (max-width: $viewport-sm) {
    margin: 0.25rem;
  }
  &__title {
    font-weight: 600;
    font-size: 1.3rem;
  }
  &__link {
    padding: 0.25rem 1rem;
  }
}
