@import '@src/scss/global_variables.scss';

@include show(366px);

.product {
  --delay: 600ms;
  border-bottom: 1px solid var(--color-divider);
  animation: show linear calc(var(--delay) - 300ms);
  margin-bottom: 1rem;
  overflow: hidden;
}
.form {
  display: flex;
  flex-direction: column;

  animation: show-form linear var(--delay);
}
.title {
  animation: show-form linear var(--delay);
}
.input {
  grid-area: input;
  &-block {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 5px;
    -ms-grid-column-span: 5px;
    // $viewport-xxs: 480px;
    // $viewport-xs: 576px;
    // $viewport-sm: 768px;
    // $viewport-md: 992px;
    // $viewport-lg: 1200px;
    // $viewport-xl: 1440px;
    @media screen and (max-width: $viewport-xl) {
      grid-template-columns: repeat(5, 1fr);
    }
    @media screen and (max-width: $viewport-lg) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: $viewport-md) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: $viewport-sm) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $viewport-xs) {
      grid-template-columns: 1fr;
    }
  }
}
.images {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.add {
  width: 100%;
}
.slider {
  margin: 1rem;
}
.buttons-block {
  margin: 0.5em 0;
  grid-area: button;
  display: flex;
  justify-content: flex-end;
}
