@import '@src/scss/global_variables.scss';

@include show(366px);

.product {
  --delay: 600ms;
  margin-bottom: 1rem;
  overflow: hidden;
  border-bottom: 1px solid var(--color-divider);
  animation: show linear calc(var(--delay) - 300ms);
}
.form {
  display: flex;
  flex-direction: column;
  animation: show-form linear var(--delay);
}
.title {
  animation: show-form linear var(--delay);
}
.input {
  grid-area: input;
  &-block {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
    -ms-grid-column-span: 5px;
    // $viewport-xxs: 480px;
    // $viewport-xs: 576px;
    // $viewport-sm: 768px;
    // $viewport-md: 992px;
    // $viewport-lg: 1200px;
    // $viewport-xl: 1440px;
    @media screen and (max-width: $viewport-xl) {
      grid-template-columns: repeat(5, 1fr);
    }
    @media screen and (max-width: $viewport-lg) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: $viewport-md) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: $viewport-sm) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $viewport-xs) {
      grid-template-columns: 1fr;
    }
  }
}
.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5em;
}
.add {
  width: 100%;
}
.slider {
  margin: 1rem;
}
.buttons-block {
  display: flex;
  grid-area: button;
  justify-content: flex-end;
  margin: 0.5em 0;
}
.img-current {
  position: relative;
  display: inline-flex;
  height: 100%;
  margin: 1rem;
  &__img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    transition: filter ease-in-out 400ms;
  }
  &__delete {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
