@import '@src/scss/global_variables.scss';
.wrap {
  display: inline-block;
}
.block {
  display: flex;
  flex-direction: column;
}
.list {
  padding: 1rem;
}

.img {
  float: left;
  width: 240px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: $viewport-md) {
  .block {
    padding: 1rem;
  }
}
