.location {
  position: relative;
}
.button {
  display: inline-flex;

  padding: 0;
  background-color: transparent;

  cursor: pointer;
  transition: all ease-in-out 200ms;
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  margin: 5px;
  height: 44px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: var(--radius);

  cursor: pointer;
  transition: all 0.12s ease-out;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
  &:hover {
    color: var(--color-secondary-text);
  }
  &:focus {
    outline: none;
  }
  &__icon {
    margin-right: 1rem;
  }
}
.dropdown {
  z-index: 100;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 45px;
  left: 5px;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--color-bg);
  border: 1px solid var(--color-divider);
  border-radius: var(--radius);
  &:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: -16px;
    border: 8px solid;
    border-color: transparent transparent var(--color-divider);
  }
  &:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 2px;
    top: -12px;
    border: 6px solid;
    border-color: transparent transparent #fff;
  }
  &-show {
    display: flex;
  }
  &__title {
    white-space: nowrap;
  }
  &__element {
    line-height: 22px;
    margin-top: 1rem;
  }
}
.icon {
  width: 1.2rem;
  height: 1rem;
}
