@import 'src/scss/global_variables.scss';

.nav {
  display: inline-flex;

  width: 100%;

  margin: 0.5rem 0;
  @media screen and (max-width: $viewport-sm) {
    -moz-overflow: hidden;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0px;
    }
    &::-webkit-scrollbar-thumb {
      height: 0px;
    }
  }
  &__location {
    display: flex;
    align-items: center;
    width: 223px;
    margin-right: 2rem;

    @media screen and (max-width: $viewport-md) {
      display: none;
    }
  }
  &__bar {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;

    @media screen and (max-width: $viewport-sm) {
      flex-wrap: nowrap;
      padding: 0 1rem;
    }
  }
  &__element {
    display: inline-flex;
    margin-right: 0.2rem;
    padding: 5px 10px;
    color: var(--color-primary-text);
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
    &:last-child {
      margin-right: 0;
    }
    &-favorite {
      position: relative;
      background-color: var(--color-secondary);
      border-radius: var(--radius);
      -webkit-transform: skew(-20deg);
      -moz-transform: skew(-20deg);
      -o-transform: skew(-20deg);
      transition: ease-in-out 200ms;
    }

    &-favorite:hover {
      background-color: var(--color-secondary-light);
    }
    &-favorite .nav__link {
      color: var(--color-secondary-text-light);
    }
  }
}

.link-active {
  color: var(--color-secondary-text);
  &:visited {
    color: var(--color-secondary-text);
  }
}

.nav__element-favorite .link-active {
  color: #fff;
  &:visited {
    color: #fff;
  }
}
