@import 'src/scss/global_variables.scss';
.block {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 1rem;
}

.title {
  display: inline-block;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.3rem;
}
.link {
  padding: 0.25rem 1rem;
}
.active {
  color: var(--color-secondary-text);
  &:visited {
    color: var(--color-secondary-text);
  }
}

@media screen and (max-width: $viewport-sm) {
  .block {
    margin: 0.25rem;
  }
}
