.layout {
  display: grid;

  grid-gap: 10px;
  grid-template-areas: 'sidebar main';
  grid-template-columns: 300px auto;
  &__header {
    padding: 1rem;

    grid-area: header;
  }
  &__sidebar {
    z-index: 100;

    width: 300px;
    height: 100vh;

    transition: all ease-in-out 100ms;

    background-color: #fff;
    box-shadow: 0 0 26px 0 rgba(0,0,0,.15);

    grid-area: sidebar;
  }
  &__main {
    padding: 1rem;

    grid-area: main;
  }
}

.sidebar {
  &__nav-top {
    display: flex;
    overflow: hidden;
    justify-content: space-between;

    border-bottom: 1px solid var(--color-divider);
    box-shadow: 0 0 26px 0 rgba(0,0,0,.15);
  }
  &__title {
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
  }
  &__button-hide {
    flex: 1;

    background-color: transparent;
    &::after {
      width: 18px;
      height: 18px;

      content: '';
      transition: all ease-in-out 300ms;

      background-color: var(--color-text-primary);

      -webkit-mask: url('../../../public/svg/angle-double-left.svg') no-repeat 50% 50%;
      mask: url('../../../public/svg/angle-double-left.svg') no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
  }
  &__link {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    padding: 1rem 1.1rem;

    &__text {
      padding: 0 1.2rem;
    }
  }
}

.-hide .layout__sidebar {
  transform: translateX(-250px);
}
.-hide.layout {
  grid-template-columns: 50px auto;
}
.-hide .sidebar__button-hide::after {
  -webkit-mask: url('../../../public/svg/angle-double-right.svg') no-repeat 50% 50%;
  mask: url('../../../public/svg/angle-double-right.svg') no-repeat 50% 50%;
}
.-hide .sidebar__link {
  flex-direction: row;
  justify-content: flex-end;
}
.-active {
  background-color: var(--color-brand-secondary-lightest);
}
