.layout {
  display: grid;

  grid-gap: 10px;
  grid-template-areas: 'sidebar main';
  grid-template-columns: 300px auto;
  &__header {
    padding: 1rem;

    grid-area: header;
  }
  &__sidebar {
    width: 300px;
    height: 100vh;

    box-shadow: 0 0 16px 1px rgba(0,0,0,.25);

    grid-area: sidebar;
  }
  &__main {
    padding: 1rem;

    grid-area: main;
  }
}

.sidebar {
  &__nav-top {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid var(--color-divider);
    box-shadow: 0 0 16px 1px rgba(0,0,0,.25);
  }
  &__title {
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
  }
  &__button-hide {
    flex: 1;

    background-color: transparent;
  }
  &__main {
    display: flex;
    flex-direction: column;
  }
  &__link {
    display: flex;
    justify-content: space-between;

    padding: 1rem 1.1rem;
  }
}

.-hide .layout__sidebar {
  transform: translateX(-250px);
}
.-hide.layout {
  grid-template-columns: 50px auto;
}
.-active {
  background-color: var(--color-brand-secondary-lightest);
}
