@import 'src/scss/global_variables.scss';

.nav {
  display: inline-flex;

  margin: .5rem 0;

  width: 100%;
  @media screen and (max-width: $viewport-sm){
      overflow: hidden;
    -moz-overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0px;
    }
    &::-webkit-scrollbar-thumb {
      height: 0px;
    }

  }
  &__location {
    display: flex;
    margin-right: 2rem;
    width: 223px;
    align-items: center;

    @media screen and (max-width: $viewport-sm) {
      display: none;
    }
  }
  &__bar {
    display: inline-flex;
    list-style: none;
    width: 100%;
    flex-wrap: wrap;

    @media screen and (max-width: $viewport-sm) {
      flex-wrap: nowrap;
    }
  }
  &__element{
    display: inline-flex;
    white-space: nowrap;
    margin-right: .2rem;
    padding: 5px 10px;
    font-weight: 600;

    &:first-child {
      margin-left: 10px;
    }
    &:last-child {
      margin-right: 0;
    }
    &-favorite {
      position: relative;
      background-color: var(--color-brand-secondary);
      border-top-left-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
      font-style: italic;
      transition: ease-in-out 200ms;
      &::after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        top: 0;
        right: -4px;
        border-top-right-radius: var(--radius);
        border-style: solid;
        border-width: 22px 4px 0 0;
        border-color: var(--color-brand-secondary) transparent transparent transparent;
        transition: ease-in-out 200ms;
      }
      &::before {
        position: absolute;
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        top: 0;
        left: -5px;
        border-bottom-left-radius: var(--radius);
        border-style: solid;
        border-width: 0 0 26px 5px;
        border-color: transparent transparent var(--color-brand-secondary) transparent;
        transition: ease-in-out 200ms;
      }
      &:hover {
        background-color: var(--color-brand-secondary-light);
        &::after {
          border-color: var(--color-brand-secondary-light) transparent transparent transparent;
        }
        &::before {
          border-color: transparent transparent var(--color-brand-secondary-light) transparent;
        }
      }
    }
    &-favorite .nav__link {
      color: var(--color-text-for-secondary);
    }
  }
}