.footer {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  color: var(--color-primary-text);
  background-color: var(--bg);
  &__contact,
  &__menu-wrap {
    margin: 1rem 3rem;
  }
  &__menu {
    list-style: none;
  }
  &__link {
    padding: 0.3rem 0;
    &:first-child {
      padding-top: 0;
    }
  }
}
.shadow {
  flex: 100%;
  margin-bottom: 1rem;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}
