.footer {
  display: flex;
  flex-wrap: wrap-reverse;

  padding: 1rem 3rem;
  color: var(--color-secondary-text-light);
  background-color: var(--color-secondary);
  &__contact,
  &__menu-wrap {
    margin: 1rem 3rem;
  }
  &__menu {
    list-style: none;
  }
  &__link {
    padding: 0.3rem 0;
    &:first-child {
      padding-top: 0;
    }
  }
  &__link a {
    color: var(--color-secondary-text-light);
    &:hover {
      color: var(--color-secondary-text-light);
    }
  }
}
