@import 'src/scss/global_variables.scss';

.header {
  display: grid;

  grid-gap: 20px;
  grid-template-areas:
    'logo menu search toolbar'
    'nav nav nav nav';
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 223px 125px 1fr auto;
  align-items: center;

  height: 46px;
  height: 100%;
  padding: 1rem 5rem;
  overflow: hidden;

  &__logo {
    display: flex;

    grid-area: logo;
    justify-self: center;

    width: 223px;
    height: 45px;
  }
  &__search {
    grid-area: search;
  }
  &__toolbar {
    display: flex;

    grid-area: toolbar;
  }

  &__nav {
    grid-area: nav;
    width: 100%;
  }
  &__menu {
    grid-area: menu;
    margin: 0 auto;
  }
}

@media screen and (max-width: $viewport-sm) {
  .header {
    grid-gap: 5px;
    grid-template-areas:
      'menu logo toolbar'
      'search search search'
      'nav nav nav';
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 48px 1fr 79px;
    padding: 0.2rem;

    &__menu {
      margin: 0;
    }
    &__search {
      width: 100%;
    }
    &__toolbar {
      overflow: hidden;
      & > :nth-child(n + 2) {
        display: none;
      }
    }
  }
}
