@import 'src/scss/global_variables.scss';

.header {
  display: grid;
  overflow: hidden;
  align-items: center;

  height: 46px;
  height: 100%;
  padding: 1rem 5rem;

  grid-gap: 20px;
  grid-template-areas: 'logo menu search toolbar'
  'nav nav nav nav';
  grid-template-columns: 223px 125px 1fr auto;
  grid-template-rows: 1fr 1fr;

  &__logo {
    display: flex;

    width: 223px;
    height: 45px;

    grid-area: logo;
    justify-self: center;
  }
  &__search {
    grid-area: search;
  }
  &__toolbar {
    display: flex;

    grid-area: toolbar;
  }

  &__nav {
    width: 100%;

    grid-area: nav;
  }
  &__menu {
    margin: 0 auto;

    grid-area: menu;
  }
}

@media screen and (max-width: $viewport-sm) {
  .header {
    padding: .2rem;

    grid-gap: 5px;
    grid-template-areas: 'menu logo toolbar'
    'search search search'
    'nav nav nav';
    grid-template-columns: 48px 1fr 79px;
    grid-template-rows: 1fr 1fr 1fr;


    &__menu {
      margin: 0;
    }
    &__search {
      width: 100%;
    }
    &__toolbar {
      overflow: hidden;
      & > :nth-child(n + 2) {
        display: none;
      }
    }
  }
}
