.location {
  display: inline-flex;

  height: 100%;
  padding: 0;
  background-color: transparent;

  cursor: pointer;
  transition: all ease-in-out 200ms;
  &:hover {
    color: var(--color-secondary-text);
  }
  &:focus {
    outline: none;
  }
  &__icon {
    margin-right: 1rem;
  }
}
