.banner {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.5rem;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.img {
  height: 300px;
  object-fit: cover;
}
.header {
  display: flex;
  padding: 0.5rem 0;
}
.name {
  flex: 100%;
}
