.footer {
  display: flex;
  flex-wrap: wrap-reverse;

  padding: 1rem 3rem;

  color: var(--color-text-for-secondary);
  background-color: var(--color-brand-secondary);
  &__contact, &__menu-wrap {
    margin: 1rem 3rem;
  }
  &__menu {
    list-style: none;
  }
  &__link {
    padding: .3rem 0;
    &:first-child {
      padding-top: 0;
    }
  }
  &__link a {
    color: var(--color-text-for-secondary);
    &:hover {
      color: var(--color-text-secondary);
    }
  }
}
