@import 'src/scss/global_variables.scss';
.block {
  display: grid;

  grid-gap: 20px;
  grid-template-areas:
    'logo menu search toolbar'
    'nav nav nav nav';
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 223px 125px 1fr auto;
  align-items: center;

  height: 46px;
  height: 100%;
  padding: 1rem 5rem;
}
.logo {
  display: flex;

  grid-area: logo;
  justify-self: center;

  width: 223px;
  height: 45px;
  &__icon {
    width: inherit;
    height: inherit;
  }
}
.menu {
  grid-area: menu;
  margin: 0 auto;
}
.search {
  grid-area: search;
}
.toolbar {
  display: flex;

  grid-area: toolbar;
}
.nav {
  grid-area: nav;
  width: 100%;
}
.link {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 0.5rem;
  color: var(--color-primary-text);
  font-size: 0.85rem;

  text-align: center;
  &__icon {
    width: 1.2rem;
    height: 1.2rem;
    margin: 5px auto;
    font-size: 20px;
  }
}

@media screen and (max-width: $viewport-md) {
  .block {
    grid-gap: 0;
    grid-template-areas:
      'menu logo toolbar'
      'search search search'
      'nav nav nav';
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 115px 1fr 48px;
    justify-items: center;
    margin: 0 0.4rem;
    padding: 0;
  }
  .menu {
    margin: 0;
  }
  .search {
    width: 100%;
  }
  .toolbar {
    overflow: hidden;
    & > :nth-child(n + 2) {
      display: none;
    }
  }
}
@media screen and (max-width: $viewport-sm) {
  .block {
    grid-template-columns: 48px 1fr 48px;
  }
}
@media screen and (max-width: $viewport-xxs) {
  .logo {
    width: 190px;
  }
}
