@import 'src/scss/global_variables.scss';
.header {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  padding: 21px 50px 0 70px;

  border-bottom: 1px solid var(--color-divider);

  &__links {
    display: inline-flex;

    height: 100%;
  }
  &__link {
    position: relative;

    display: flex;
    justify-content: space-between;

    height: 100%;
    margin-left: 10px;
    padding: .4rem 0;

    cursor: pointer;
    &:first-child {
      margin: 0;
    }
    &__text {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: $viewport-sm) {
  .header {
    flex-direction: column;

    padding-right: 0;
    &__links {
      padding-bottom: 20px;
      padding-left: 14px;
    }
  }
}

.-active {
  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 2px;

    content: '';
    animation: active 300ms ease-in-out;

    background-color: var(--color-text-secondary);
  }
}

@keyframes active {
  0% {
    transform: scaleX(.5);
  }
  100% {
    transform: scaleX(1);
  }
}
