@import './global_variables.scss';
@import 'swiper/swiper.scss';
@import 'swiper/components/navigation/navigation.scss';
@import 'swiper/components/effect-fade/effect-fade.scss';
@import 'swiper/components/pagination/pagination.scss';
@import 'swiper/components/scrollbar/scrollbar.scss';

:root {
  --color-bg: #fff;
  // Основной цвет
  --color-primary: hsl(195, 100%, 40%);
  --color-primary-light: hsl(195, 100%, 50%);
  --color-primary-lighter: hsl(195, 100%, 53%);
  --color-primary-lightest: hsl(195, 100%, 57%);
  --color-primary-dark: hsl(195, 100%, 30%);
  --color-primary-darker: hsl(195, 100%, 27%);
  --color-primary-darkest: hsl(195, 100%, 24%);
  // Дополнительный цвет
  --color-brand-secondary: hsl(31, 100%, 50%);
  --color-brand-secondary-light: hsl(31, 100%, 60%);
  --color-brand-secondary-lighter: hsl(31, 100%, 63%);
  --color-brand-secondary-lightest: hsl(31, 100%, 67%);
  --color-divider: hsl(0, 0%, 90%);
  // Цвет текста
  --color-text-for-secondary: #fff;
  --color-text-primary: #434b5b;
  --color-text-primary-light: #fff;
  --color-text-primary-lighter: #aab1c0;
  --color-text-primary-lightest: #e5e7eb;
  --color-text-secondary: #ce5955;
  --radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
html {
  color: var(--color-text-primary);
}
h1 {
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  font-weight: 600;
  font-size: 2rem;
}
h2 {
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  font-weight: 600;
  font-size: 1.8rem;
}
h3 {
  padding-bottom: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}
a {
  color: var(--color-text-primary);
  text-decoration: none;
  transition: color ease-in-out 200ms;
  &:visited {
    color: var(--color-text-primary);
  }
  &.link-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 0.5rem;
    color: var(--color-text-primary-light);
    font-size: 0.85rem;

    text-align: center;
  }
  &.link-menu svg {
    width: 20px;
    height: 20px;
    margin: 5px auto;
  }
  &:hover {
    color: var(--color-text-secondary);
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
