.item {
  display: grid;
  align-items: center;

  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr 53px;
  grid-template-rows: 1fr;
}
.button {
  justify-content: center;

  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 0.9rem;

  border: 1px solid var(--color-divider);
  background-color: transparent;
  &:hover {
    background-color: var(--color-brand-primary-lighter);
  }
}
