@import 'src/scss/global_variables.scss';
.layout {
  &__header {
    padding: 1rem;
  }
  &__sidebar {
    position: absolute;
    z-index: 100;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.15);
    transition: all ease-in 300ms;
  }
  &__main {
    margin-left: 250px;
    transition: all ease-in 300ms;
    @media screen and (max-width: $viewport-sm) {
      margin-left: 0;
    }
  }
}

.sidebar {
  &__nav-top {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-bottom: 1px solid var(--color-divider);
    box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.15);
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    font-weight: 600;
  }
  &__button-hide {
    flex: 1;
    background-color: transparent;
    &::after {
      width: 18px;
      height: 18px;
      background-color: var(--color-text-primary);
      transition: all ease-in-out 300ms;
      content: '';

      -webkit-mask: url('../../../public/svg/angle-double-left.svg') no-repeat
        50% 50%;
      mask: url('../../../public/svg/angle-double-left.svg') no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
  }
  &__link {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    padding: 1rem 1.1rem;

    &__text {
      padding: 0 1.2rem;
    }
  }
}

.-hide .layout__sidebar {
  transform: translateX(-250px);
}
.-hide .layout__main {
  margin-left: 0;
}
.-hide.layout {
  grid-template-columns: 50px auto;
}
.-hide .sidebar__button-hide::after {
  -webkit-mask: url('../../../public/svg/angle-double-right.svg') no-repeat 50%
    50%;
  mask: url('../../../public/svg/angle-double-right.svg') no-repeat 50% 50%;
}
.-hide .sidebar__link {
  flex-direction: row;
  justify-content: flex-end;
}
.-hide .sidebar__link__text {
  opacity: 0;
}

.-active {
  background-color: var(--color-brand-secondary-lightest);
  animation: active 500ms ease-in-out;
}
@keyframes active {
  from {
    background-color: #fff;
  }
  to {
    background-color: var(--color-brand-secondary-lightest);
  }
}
