@import './global_variables.scss';
@import '~swiper/swiper.scss';
@import 'swiper/components/navigation/navigation.scss';
@import '~swiper/components/effect-fade/effect-fade.scss';
@import '~swiper/components/pagination/pagination.scss';
@import '~swiper/components/scrollbar/scrollbar.scss';

:root {
  --color-bg: #fff;
  // Основной цвет
  --color-brand-primary: #e1b26b;
  --color-brand-primary-light: #e9c895;
  --color-brand-primary-lighter: #f2dec0;
  --color-brand-primary-lightest: #fbf4ea;
  // Дополнительный цвет
  --color-brand-secondary: #78a5a3;
  --color-brand-secondary-light: #97bab8;
  --color-divider: hsl(0, 0%, 90%);
  // Цвет текста
  --color-text-for-secondary: #fff;
  --color-text-primary: #434b5b;
  --color-text-primary-light: #6f7c95;
  --color-text-primary-lighter: #aab1c0;
  --color-text-primary-lightest: #e5e7eb;
  --color-text-secondary: #ce5955;
  --radius: 4px;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

  margin: 0;
  padding: 0;
}
html {
  color: var(--color-text-primary);
}
h1 {
  font-size: 2rem;
  font-weight: 600;

  padding-bottom: 1.5rem;
  padding-left: 1rem;
}
h2 {
  font-size: 1.8rem;
  font-weight: 600;

  padding-bottom: 1.5rem;
  padding-left: 1rem;
}
h3 {
  font-size: 1.2rem;
  font-weight: 600;

  padding-bottom: 1rem;
}
button {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;

  position: relative;

  display: flex;
  align-content: center;
  align-items: center;

  height: 44px;
  padding: .45rem 1.25rem;

  cursor: pointer;
  transition: all .12s ease-out;

  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: var(--radius);
  background-color: var(--color-brand-primary);

  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
}
svg {
  width: 18px;
  height: 18px;
}
a {
  transition: color ease-in-out 200ms;
  text-decoration: none;

  color: var(--color-text-primary);
  &:visited {
    color: var(--color-text-primary);
  }
  &.link-menu {
    font-size: .85rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 .5rem;

    text-align: center;

    color: var(--color-text-primary-light);
  }
  &.link-menu svg {
    width: 20px;
    height: 20px;
    margin: 5px auto;
  }
  &:hover {
    color: var(--color-text-secondary);
  }
}

.swiper-slide {
  display: flex;
  overflow: hidden;
  justify-content: center;
}
