@import './global_variables.scss';
@import 'swiper/swiper.scss';
@import 'swiper/components/navigation/navigation.scss';
@import 'swiper/components/effect-fade/effect-fade.scss';
@import 'swiper/components/pagination/pagination.scss';
@import 'swiper/components/scrollbar/scrollbar.scss';

:root {
  --color-bg: #fff;
  // Основной цвет
  --color-primary: hsl(195, 100%, 40%);
  --color-primary-light: hsl(195, 100%, 50%);
  --color-primary-lighter: hsl(195, 100%, 53%);
  --color-primary-lightest: hsl(195, 100%, 57%);
  --color-primary-dark: hsl(195, 100%, 30%);
  --color-primary-darker: hsl(195, 100%, 27%);
  --color-primary-darkest: hsl(195, 100%, 24%);
  --color-primary-text: #434b5b;
  --color-primary-text-light: #fff;
  --color-primary-text-dark: #434b5b;
  // Дополнительный цвет
  --color-secondary: hsl(31, 100%, 50%);
  --color-secondary-light: hsl(31, 100%, 60%);
  --color-secondary-lighter: hsl(31, 100%, 63%);
  --color-secondary-lightest: hsl(31, 100%, 67%);
  --color-secondary-text: #ce5955;
  --color-secondary-text-light: #fff;
  --color-secondary-text-dark: #434b5b;
  // Цвет текста
  --color-text-light: #e5e7eb;
  --color-text-dark: #434b5b;
  // Дополнительные параметры
  --color-divider: hsl(0, 0%, 90%);
  --radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
html {
  color: var(--color-primary-text);
}
h1 {
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  font-weight: 600;
  font-size: 2rem;
}
h2 {
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  font-weight: 600;
  font-size: 1.8rem;
}
h3 {
  padding-bottom: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}
button {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;

  height: 44px;
  padding: 0.45rem 1.25rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--color-primary);

  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: var(--radius);

  cursor: pointer;
  transition: all 0.12s ease-out;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
}
svg {
  width: 18px;
  height: 18px;
}
a {
  color: var(--color-primary-text);
  text-decoration: none;
  transition: color ease-in-out 200ms;
  &:visited {
    color: var(--color-primary-text);
  }
  &:hover {
    color: var(--color-secondary-text);
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
