@import './global_variables.scss';
@import 'swiper/swiper.scss';
@import 'swiper/components/navigation/navigation.scss';
@import 'swiper/components/effect-fade/effect-fade.scss';
@import 'swiper/components/pagination/pagination.scss';
@import 'swiper/components/scrollbar/scrollbar.scss';

:root {
  --color-bg: #fff;
  // Основной цвет
  // #FFDE1C
  // #FD4629
  // #61AAA7
  // #076881
  // #373135
  --color-primary: hsl(192, 90%, 27%);
  --color-primary-light: hsl(192, 90%, 30%);
  --color-primary-lighter: hsl(195, 100%, 33%);
  --color-primary-lightest: hsl(195, 100%, 37%);
  --color-primary-dark: hsl(192, 90%, 17%);
  --color-primary-darker: hsl(195, 100%, 14%);
  --color-primary-darkest: hsl(195, 100%, 10%);
  --color-primary-text: hsl(320, 6%, 20%);
  --color-primary-text-light: hsl(320, 6%, 30%);
  --color-primary-text-lighter: hsl(320, 6%, 33%);
  --color-primary-text-lightest: #fff;
  --color-primary-text-dark: hsl(220, 15%, 21%);
  // Дополнительный цвет
  --color-secondary: hsl(8, 98%, 58%);
  --color-secondary-light: hsl(8, 98%, 62%);
  --color-secondary-lighter: hsl(8, 98%, 66%);
  --color-secondary-lightest: hsl(8, 98%, 69%);
  --color-secondary-text: #ce5955;
  --color-secondary-text-light: #fff;
  --color-secondary-text-dark: #434b5b;
  // Цвет текста
  --color-text-light: #e5e7eb;
  --color-text-dark: hsl(320, 6%, 20%);
  // Дополнительные параметры
  --color-divider: #e6e6e6;
  --radius: 4px;
  --shadow: 0 9px 46px 0 rgba(34, 34, 34, 0.06),
    0 1px 11px 0 rgba(34, 34, 34, 0.06);
}

* {
  margin: 0;
  padding: 0;
}
html {
  color: var(--color-primary-text);
  font-size: 14px;
  font-family: 'Evolventa Regular', sans-serif;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.2rem;
}
button {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;

  height: 44px;
  padding: 0.45rem 1.25rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--color-primary);

  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: var(--radius);

  cursor: pointer;
  transition: all 0.12s ease-out;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
}
nav a {
  color: var(--color-primary) !important;
}
a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color ease-in-out 200ms;

  &:hover {
    color: var(--color-secondary-text);
  }
}
.swiper-slide {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
svg {
  width: 1.2rem;
  height: 1rem;
}
